:root {
  --color-bg: #FAF8F5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-bg);
}

.footer-link{
  transition: color .2s ease;
}

.footer-link:hover{
  color:#fff !important;
}