@media (max-width: 991.98px) {
  .navbar .container-fluid {
    flex-wrap: wrap !important;
  }
}

@media (min-width: 992px) {
  .navbar .container-fluid {
    flex-wrap: nowrap !important;
  }
}

/* Mobile & Tablet */
@media (max-width: 991.98px) {
  .navbar-actions {
    flex-wrap: wrap;
  }
}

/* Desktop */
@media (min-width: 992px) {
  .navbar-actions {
    flex-wrap: nowrap;
  }
}